<div id="enleverDerriereNav"></div>
<div class="BackgroundCompte">

<div class="row">

    <div class="col-md-2">  </div>

    <div class="col-md-8">
	
	

		<?= $this->Form->create('Post', ['enctype' => 'multipart/form-data']) ?>
        <div class='text-center'>
		<?php 
				foreach($member as $members){
		if (file_exists(WWW_ROOT.'/img/'.$members->id.'.jpg')): 
			echo $this->Html->image($members->id.'.jpg', ["height"=>"250",'width' => '250px', 'alt' => 'Profil', 'class' => 'center-block']);
		else:
			echo $this->Html->image('default.jpg', ['width' => '250px', 'alt' => 'Profil', 'class' => 'center-block']);		
			endif;
			
		echo $this->Form->file('submittedfile', ['accept' => 'image/*',['class'=>'bouton']]);
		echo $this->Form->button(__('Changer photo'),['class'=>'bouton']);
		
		$emailCoupe = explode("@", $members->email);
		echo "<h1 class='titre'>".$emailCoupe[0]."</h1>";?> 
		<div id="espacement"></div>
		</div>
	</div>
</div>
</div>
        
		<div class='text-center'>
			<div class="compte">
			<fieldset>
				<h3>Si vous souhaitez modifier votre email et/ou mot de passe, c'est ici</h3>
				<?php
					echo $this->Form->control('email', array('value' => $members['email']));
					echo $this->Form->control('password', array('type'=>'password', "value" => $members['password']));
				}?>
			</fieldset>
		<?= $this->Form->button(__('Valider'),['class'=>'bouton']) ?>
		<?= $this->Form->end() ?>
		</div>
		</div>