<div class="bckgrnd">
<br>
    <div class="text-center inscripform">
        <h2>Connexion</h2>
        <h4> Heureux de te revoir mon filet mignon!</h4>
    </div>

    <div class="members form  row text-center form-horizontal cadretransp">
        <?= $this->Flash->render() ?>
        <?= $this->Form->create() ?>
        <fieldset>

            <?= $this->Form->control('email',array('type' => 'email', 'class' => 'pigframewb decalewat')) ?>
            <?= $this->Form->control('password',array('type' => 'password', 'class' => 'pigframewb')) ?>
            <?= $this->Form->button('Me Cochonnecter',array('class' => 'pigframe')); ?>
            <?= $this->Form->end() ?>
        </fieldset>
    </div>
	
	<div class="members form  row text-center form-horizontal cadretransp">
		<h2> Connecte toi avec Facebook en 2 pompes </h2>
		<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
	</div>
	
</div>

<style>
    .bckgrnd
    {
        background-image: url('../img/connectpig.jpg');
        background-size:cover;
        padding-top: 50px;
        padding-bottom: 300px;  
    }
    .descripic{
        border: 1px solid #ddd;
        position:sticky;
        position: relative;
        background-attachment: fixed;
        max-width: 100%;
        height: auto;
        z-index:-1;
    }

    .inscripform{
        max-width: 300px;
        background: #FDDDE6;
        margin: auto;
        margin-bottom: 30px;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #ffc2e6;
        position:relative;
        z-index:0;
        opacity:0.9;
    }
    .pigframe{
        background: #FDDDE6;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #ffc2e6;
        margin: 10px 3px;
        opacity:0.9;
    }


    .pigframewb{
        background: white;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 3px;
        color: #FF69B4;
        object-position: center;
        margin-left: 10px;
        width:80%;

    }

    .cadretransp{
        background: #FDDDE6;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #ffc2e6;
        margin: 0 auto;
        max-width: 50%;
        opacity:0.9;
    }

    .decalewat{
        margin-left:40px;
        margin-top:10px;
    }

</style>

