<div class="row">
  
  <div class="col-md-2">  </div>

  <div class="col-md-12" id="filSeance"><br><br><br><br><br>
<h1 class="titre"> Les séances de  <?= $ami ?> :</h1>
<?php foreach($seance as $seance)
      { { 
      echo "
  <div class='col-md-3'>";
      echo "<div class='thumbnail'>";  
// echo $this->Html->image($seance->sport.'.jpg', ['alt' => '', 'class'=>'image']);
 echo  "<div class='caption'>";

      echo $this->Form->create('a', array('url'=>["controller"=>"Seances", "action"=>'modifier/'.$seance->id]));
       switch($seance->sport)
    {
        case "Tennis":
         echo "<h3 style='text-align: center;'><img src='https://png.icons8.com/ios/50/000000/tennis.png' style='width:1em;'>".$seance->sport."<img src='https://png.icons8.com/ios/50/000000/tennis.png' style='width:1em;'></h3>" ;
         break;

         case "Musculation":
         echo "<h3 style='text-align: center;'><img src='https://png.icons8.com/ios/50/000000/deadlift-filled.png' style='width:1em;'>".$seance->sport."<img src='https://png.icons8.com/ios/50/000000/deadlift-filled.png' style='width:1em;'></h3>" ;
         break;

         case "Course":
         echo "<h3 style='text-align: center;'><img src='https://png.icons8.com/ios/50/000000/running-filled.png' style='width:1em;'>".$seance->sport."<img src='https://png.icons8.com/ios/50/000000/running-filled.png' style='width:1em;'></h3>" ;
         break;

         case "Piscine":
         echo "<h3 style='text-align: center;'><img src='https://png.icons8.com/ios/50/000000/swimming.png' style='width:1em;'>".$seance->sport."<img src='https://png.icons8.com/ios/50/000000/swimming.png' style='width:1em;'></h3>" ;
         break;

         case "Football":
         echo "<h3 style='text-align: center;'><img src='https://png.icons8.com/ios/50/000000/football2-filled.png' style='width:1em;'>".$seance->sport."<img src='https://png.icons8.com/ios/50/000000/football2-filled.png' style='width:1em;'></h3>" ;
         break;
         case "Rugby":
         echo "<h3 style='text-align: center;'><img src='https://png.icons8.com/ios/50/000000/rugby-filled.png' style='width:1em;'>".$seance->sport."<img src='https://png.icons8.com/ios/50/000000/rugby-filled.png' style='width:1em;'></h3>" ;
         break;
         case "Basket":
         echo "<h3 style='text-align: center;'><img src='https://png.icons8.com/ios/50/000000/basketball-filled.png' style='width:1em;'>".$seance->sport."<img src='https://png.icons8.com/ios/50/000000/basketball-filled.png' style='width:1em;'></h3>" ;
         break;

         default: echo "<h3 style='text-align: center;'><img src='https://png.icons8.com/ios/50/000000/tennis.png' style='width:1em;'>".$seance->sport."<img src='https://png.icons8.com/ios/50/000000/tennis.png' style='width:1em;'></h3>" ; 
         
         
    }
       
echo "<ul>";  
      echo "<li><span class='glyphicon glyphicon-calendar'></span>".$seance->end_date."</li>" ;
      echo "<li><span class='glyphicon glyphicon-globe'></span>".$seance->location_name."</li>" ;
      echo "<li>".$seance->description."</li>" ; 
echo "</ul>";
echo"<div style='text-align:center;'>";
      
      
    echo "</div></div></div>
    </div>
  
";}}?> 
</div>
</div>