
#boutonAmis{
	margin-top:30px;
	padding-bottom:50px;
}

#salAmis{
	padding-bottom: 50px;
}


.nouvelAmis{
	background-image: url(../img/friend.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 100px;
	padding-top: 120px;
	
}

#enleverDerriereNav{
	height:45px;
}
#amis{
	text-align: center;
}
#salAmis{
	background: #f9fafc;
}
table
{
margin: auto;
}
td
{
text-align :center;
}

