.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}
;PA
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.panel-primary
{
    
    

}  
.panel-heading{
        border-color: #ffc2e6;
    background-color: #ffc2e6;
}
.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.nouveauChat{
    text-align:center;
    font-size:25px;
    text-shadow: 2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, -2px 0 0 white, 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white;
}


.nouveauChat input, .nouveauChat select{
    background-color: #ffe4f4;
    border-radius: 5px;
    margin:7px;

}
.nouveauMessage{
    background-image: url(../img/message.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;
    padding-top: 120px;
}
.sujet{
    padding-bottom: 50px;
}
