.ment
{
	padding-top: 50px;
}
.titreRanking
{
	    text-align: center;
    font-size: 70px;
    color: #ffe4f4;
    text-shadow: 2px 2px 4px black;
    
    padding-top: 60px;
}

#laisserDeLaMarge{
	height:150px;
}

#listeClassement td, th{
	
	font-size: 20px;
	
}

table
{
margin: auto;
}
tr, td, th
{
text-align :center;
}
/* CSS used here will be applied after bootstrap.css */


/* CSS used here will be applied after bootstrap.css */


.competition-podium {

    height: 250px;
    position: relative;
    width: 350px;
    margin-top:50px;
    margin-bottom: 50px;
  	display: inline-block;
    background:#ffe4f4;
}
.competition-podium .podium-block {
    width: 110px;
    text-align: left;
    display: inline-block;
    position: absolute;
    bottom: 0;
}
.competition-podium .podium-block .place {
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}
.competition-podium .podium-block .sum {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
}

.competition-podium .podium-block.bronze {
    color: #e6d6bf;
    left: 10px;
}
.competition-podium .podium-block.bronze .podium {
    background: #e6d6bf;
    height: 0px;
}
.competition-podium .podium-block.bronze .name {
    color: #856e4e;
}

.competition-podium .podium-block.gold {
    color: #E87E04;
    left: 120px;
}
.competition-podium .podium-block.gold .podium {
    background: #ead679;
    height: 0px;
}
.competition-podium .podium-block.gold .name {
    color: #856e4e;
    text-align:center
}

.competition-podium .podium-block.silver {
    color: #cbd9de;
    left: 230px;
}
.competition-podium .podium-block.silver .podium {
    background: #cbd9de;
    height: 0px;
}
.competition-podium .podium-block.silver .name {
    color: #856e4e;
  text-align:center
}
.podium {
    display: table;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.podium > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #4D4D4D;
    font-size: 1.5em;
}