

.BackgroundCompte{
	background-image: url(../img/compteFond.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height : 500px;
	background-attachment: fixed;
}

#espacement{
}

.compte{

	padding:40px;
}

#password, #email
{
	background-color: #ffe4f4;
	border-radius: 5px;
	margin:7px;
}