
#boutonAmis{
	margin-top:30px;
	padding-bottom:50px;
}




.objetscov
{
	background-image: url(../img/objetco.jpg);
	background-repeat:no-repeat;
	background-size: cover;
    background-attachment:fixed;
	padding-bottom: 200px;
	padding-top: 10px;
}

.objetsconv
{
    background-image: url(../img/objetco.jpg);
	background-repeat:no-repeat;
	background-size: cover;
    background-attachment:fixed;
	padding-bottom: 200px;
	padding-top: 10px;
    margin-bottom: 15px;
}


.validation
{
    display: none;
}
#enleverDerriereNav{
	height:45px;
}
#amis{
	text-align: center;
}
#salAmis{
	background: #f9fafc;
}
table
{
margin: auto;
}
td
{
text-align :center;
}


