.ajoutSeance{
	text-align:center;
	font-size:25px;
	text-shadow: 2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, -2px 0 0 white, 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white;
}


.ajoutSeance input, .ajoutSeance select{
	background-color: #ffe4f4;
	border-radius: 5px;
	margin:7px;

}

#boutonAj{
	padding-top:50px;
	padding-bottom:20px;
}

.image{
	width:150px;

}

.caption ul{
	list-style-type: none;
}

.nouvelleSeance{
	background-image: url(../img/workout.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 50px;
}

.modifSeance{
	background-image: url(../img/run.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

#enleverDerriereNav{
	height:45px;
}

.caption li{
	font-size:20px;
}
.scroll-down
{
	text-align:center;
}
