footer{
	padding-top: 30px;
	background-color: lightgrey;
}


.logo{
	width : 30px;
	height : 30px;
}


#navigation{
	position : fixed;
	width : 100%;
	height :65px;
	z-index: 1;
	font-size: 18px;
}

.textNav{
	margin-top: 7px;
}

.profile{
	border-radius : 50%;
	width:150px;
	height:150px;
}

.teammember{
	margin-left : 7%;
}

.titre{
	text-align: center;
	font-size: 70px;
	color: #ffe4f4;
	text-shadow: 2px 2px 4px black;
	padding-bottom: 40px;
	padding-top: 60px;
}

@font-face {
 	font-family: "ribeat"; 	
 	src: url('../font/Ribeat Regular.otf'); 
 }

div{
	font-family:ribeat;
}

.bouton{
	margin-top: 10px;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
	background-color: #ffe4f4;

}

.bouton:hover{
	background-color: #ffc2e6;
}

