<div class="row">
   <div id="enleverDerriereNav"></div>
  

  <div class="col-md-12" >
  
<div class="nouvelAmis">
    
    <?php 
    echo $this->Form->create('a', array('url'=>["controller"=>"Bonds", "action"=>"ajout"])); ?>

   <div class="ajoutSeance">
      <h2 class="titre">Ajouter un ami</h2>
      <?= $this->Form->input("Email");?>
      
      
      <div id="boutonAmis"> <?= $this->Form->submit("Ajouter", ['class'=>'bouton']);?> </div>
      <?= $this->Form->end();?>
     
  </div>
  <div class="scroll-down" > 
     <a class="btn js-scroll-trigger js-scrollTo" style="    font-size: 45px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    padding: 0;
    letter-spacing: normal;
    color: #ffe4f4;
    border: 2px solid #ffe4f4;
    border-radius: 100% !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;" href="#amis"> 
          <i class="fa fa-angle-down fa-fw" ></i>
      </a>
    </div>

</div>
</div>
</div>

<div id="amis">
  <div id="invitation">
 <h2 class="titre"> Invitation en attente </h2>
  <table > 
<?php $i = 0; foreach($a as $amis){$i++;

    echo $this->Form->create("a", array('url'=>["controller"=>"Bonds", "action"=>'accepter/'.$amis->id]));
    echo "<tr><td>";      foreach($membre as $m){
      if($m->id==$amis->member_id){ $emailCoupe = explode("@", $m->email); echo$emailCoupe[0];};

  }echo"</td></tr>
    <td>".$this->Form->submit("Accepter", ['class'=>'bouton'])."</td></tr>";
    echo $this->Form->end();
} if ($i==0){
echo $this->Html->image('sadpig.jpg',array('alt'=>'', 'height' => '230'));
  echo "<h3> Aucune invitation en attente</h3>";

}
?> 
 
</table>
</div>
<div id="salAmis">
<h2 class="titre"> Mes salAmis </h2>
  <table> 

<?php $j=0; foreach($b as $amis){ $j++;
  
    echo $this->Form->create("a", array('url'=>["controller"=>"Bonds", "action"=>'supprimer/'.$amis->id]));
    echo "<tr><td>";      foreach($membre as $m){  $emailCoupe = explode("@", $m->email);
      if(($m->id==$amis->member2_id) && ($amis->member2_id!=$moi)){
		 echo $this->Html->link( $emailCoupe[0], array('controller' => 'Bonds', 'action' => 'camis/'.$amis->member2_id));
	  }
      if(($m->id==$amis->member_id) && ($amis->member_id!=$moi)){
		 echo $this->Html->link( $emailCoupe[0], array('controller' => 'Bonds', 'action' => 'camis/'.$amis->member_id));
	  }

  }echo"</td></tr>
    <td>".$this->Form->submit("Supprimer", ['class'=>'bouton'])."</td></tr>";
    echo $this->Form->end();

} if ($j==0){
echo $this->Html->image('sadpig.jpg',array('alt'=>'', 'height' => '230'));
  echo "<h3><i class='fa fa-heart' style='color: #ffe4f4; text-shadow: 1px 1px 1px #ccc;'></i>  Aucun amis pour le moment... Mais nous on t'aime <i class='fa fa-heart' style='color: #ffe4f4; text-shadow: 1px 1px 1px #ccc;'></i></h3>";

}?>   
</table>
</div>
  </div>
  <div class="col-md-2"></div>

<script>
  $(document).ready(function() {
    $('.js-scrollTo').on('click', function() { // Au clic sur un élément
      var page = $(this).attr('href'); // Page cible
      var speed = 750; // Durée de l'animation (en ms)
      $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
      return false;
    });
  });
</script>
