<div class="row">

    <div class="col-md-2">  </div>

    <div class="col-md-8"><br><br><br><br><br>
	
	
        <div class='thumbnail text-center'>
		<h1> Bienvenue sur le compte de votre ami </h1>
		<?php 
				foreach($member as $members){
		if (file_exists(WWW_ROOT.'/img/'.$members->id.'.jpg')): 
			echo $this->Html->image($members->id.'.jpg', ['width' => '250px', 'height' => '250px', 'alt' => 'Profil', 'class' => 'center-block']);
		else:
			echo $this->Html->image('default.jpg', ['width' => '50px', 'height' => '50px', 'alt' => 'Profil', 'class' => 'center-block']);		
			endif;
				
		echo "<h1>"; $emailCoupe = explode("@", $members->email); echo $emailCoupe[0]."<h1>";}?> 
		
		<?= $this->Html->link( 'Accédez aux séances de votre ami' , array('controller' => 'Seances', 'action' => 'classesamis/'.$members->id));?>

		</div>
        
    </div>
</div>